body {
  background-color: #100;
  color: #EE2A22;
}

body hr {
  border: 3.5px dashed #A00;
  border-radius: 3px;
}

body p {
  color: #F88;
  text-align: center;
}

a:link {
  color: #E00;
}

a:visited {
  color: #A22;
  font-style: italic;
}

a:hover {
  color: #F22;
}