head {
  color: white;
}

body hr {
  border: 1px solid #669;
}

body {
  background-color: #050101;
  color: lightgrey;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace, consolas, monospace;
}

body p {
  color: #9AB;
  font-size: 16px;
}

.current:link {
  color: #9AB;
  font-weight: bold;
}

a:link {
  color: skyblue;
}

a:visited {
  color: aqua;
  font-style: italic;
}

a:hover {
  color: cadetblue;
}

.footer {
  color: #9AB;
  font-size: 11px;
  font-style: italic;
}