head {
  color: white;
}

body hr {
  border: 1px solid #669;
}

body {
  background-color: #050101;
  color: lightgrey;
  font-size: 18px;
  font-family: 'gg-sans', Courier, monospace, consolas, monospace;
}

@font-face {
  font-family: gg-sans;
  src: url("../MSWS.github.io/resources/gg_sans_Normal.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: gg-sans;
  src: url("../MSWS.github.io/resources/gg_sans_Bold.ttf") format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: gg-sans;
  src: url("../MSWS.github.io/resources/gg_sans_Normal_Italic.ttf") format('truetype');
  font-style: italic;
}

body p {
  color: #9AB;
  font-size: 22px;
}

.current:link {
  color: #9AB;
  font-weight: bold;
}

a:link {
  color: skyblue;
}

a:visited {
  color: aqua;
  font-style: italic;
}

a:hover {
  color: cadetblue;
}

.footer {
  color: #9AB6;
  font-size: 11px;
  font-style: italic;
}