head {
  color: white;
}

body hr {
  border: 1px solid #669;
}

body {
  background-color: #0a0a0a; /* Neutral 950 */
  color: #e2e8f0; /* Slate 200 */
  font-size: 18px;
  font-family: 'gg-sans', Courier, monospace, consolas, monospace;
}

@font-face {
  font-family: gg-sans;
  src: url("../resources/gg_sans_Normal.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: gg-sans;
  src: url("../resources/gg_sans_Bold.ttf") format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: gg-sans;
  src: url("../resources/gg_sans_Normal_Italic.ttf") format('truetype');
  font-style: italic;
}

body p {
  color: #cbd5e1; /* Slate 300 */
  font-size: 22px;
}

.current:link {
  color: #0369a1; /* Sky 700 */
  font-weight: bold;
}

a:link {
  color: #38bdf8; /* Sky 400 */
}

a:visited {
  color: #bae6fd; /* Sky 200 */
  font-style: italic;
}

a:hover {
  color: #e0f2fe; /* Sky 100 */
}

.footer {
  color: #9ca3af;
  font-size: 11px;
  font-style: italic;
}