.projects {
  margin-inline: 3%;
}

.project {
  margin-inline: 2%;
  margin-bottom: 16px;
  vertical-align: middle;
}

.project p {
  margin-inline: 1%;
}

.socials {
    width: fit-content;
    margin-left: auto;
}

.social {
    text-align: left;
}