header ul {
  text-align: center;
  padding: 0;
}

header ul a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin-top: 30px;
}

body hr {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact table {
  margin-left: auto;
  margin-right: 0;
}

.row {
  display: flex;
}

.leftcol,
.rightcol {
  flex: 50%;
}

.leftcol {
  margin-left: 12%;
}

.rightcol {
  text-align: right;
  margin-right: 12%;
}

body {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  margin-inline: 5%;
}

body p {
  font-size: 15px;
  margin: 4px;
}

.title {
  text-align: center;
}

.title img {
  margin-left: 10px;
  vertical-align: middle;
}

.socials {
  text-align: right;
  margin-right: 8%;
}

.social {
  margin-right: 0%;
}

.social img {
  vertical-align: middle;
}

footer {
  margin-top: auto;
}

body footer p {
  font-size: 12px;
  text-align: center;
}