.resume_content {
  min-height: 120vh;
  margin-inline: auto auto;
}

.lefthr {
  margin-left: 0;
  border: 1px lightblue solid;
  max-width: 650pt;
  width: 100%;
}

#volunteer-spd {
    font-size: 18px;
}